/*Titles*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Arial";
    font-size: 1.3em;
    font-weight:bold;
    text-transform: uppercase;
    color:#5e5b5b;
	padding-bottom:0.8em; 
	border-bottom:#cccbcb 2px solid;
	clear:both;
}

h1, .h1{
	padding-left: 0.6em;
	padding-bottom:0.4em; 
	border-bottom:#cccbcb 1px solid;
	}

.rubrique_home h1, .rubrique_home h1,.rubrique_wiki h1, .rubrique_wiki h1,.article_principe h1, .article_principe  h1{
	padding-left: 0;
	padding-bottom:0.8em; 
	border-bottom:#cccbcb 2px solid;}

.h2, h2 {border-bottom:#cccbcb 2px solid;}



.rubrique_wiki h1,.rubrique_wiki .h1, .article_principe h1, .article_principe .h1 {
    color: #FFFFFF;
    font-size: 1.2em;
    border-bottom-color: #FFFFFF;
    line-height:normal;
    padding-bottom: 0.5em;
}

.page_article h1, .page_article  .h1{font-size:1.7em;padding-bottom: 0.15em;}


.page_article h2, .page_article  .h2{font-size:1.3em;padding-top: 1em;margin-bottom:1em}

.article_ressource h1, .article_ressource .h1{
	color:#5e5b5b; 
	font-style:italic;
	border-bottom:none;
	padding-bottom: 0;
	font-size: 1.2em;
	text-transform:capitalize;
	}

h4,.h4{
	color: #7b7979; 
	margin-top:0.9em;
	border-bottom: none;
	padding-bottom:0.3em
	}
/*Principal blocks*/

body{
	background:#ffffff;
    color: #7b7979;
    font-family: "Arial","Lucida Grande",Lucida,"Lucida Sans Unicode",sans-serif;
    letter-spacing: 0.135em;
	}


#page{
	width:960px;
	border:none;
	box-shadow: none;
}


#entete {
    border: none;
	padding: 0 0 2.6em;
	margin:0;
}

.article_ressource #conteneur{padding-top:3em}

#contenu{padding:0}

#contenu{
  padding-left: 5.2%;
    width: 94.8%;
}

.rubrique_home #contenu{
    padding:0;
    width: 30%;
    margin-right:5%;
	}
	
.article_ressource #contenu{
	width: 56.8%
	}

.rubrique_home #navigation{width:65%}

#navigation{
	margin-top:0
	}
	
.article_ressource #navigation{
  	padding-right: 7%;
    width: 27%;
	
	
	float:left}

#pied {
    background: #FFFFFF ;
    border: none;
    font-style:italic;
    font-size: 70%;
}

#pied a{color:#9bd635}

/*header*/

.tools{
	float:right;
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden}

.tools p.traductions {
    font-size: 90%;
    margin: 0;
    padding: 0.9em 0 0;
}

.social,.traductions{float:right}

.social{margin:0 0 0 1.2em;width:14%;padding:0}



#nav{
	width:100%; 
	line-height: 2.7em;
	position:relative;
	padding:0;
	margin:0;
	}

#nav div{
	float:left;
	height:35px; 
	font-size:0.9em;
	text-transform: uppercase;
	height:36px;
	padding: 0 0 0 0.5%;
	letter-spacing:0.01em;
	}

#nav #formulaire_recherche div{ width: 100%;padding-left: 20px;}
	
#nav  a {color:white;background-color: #a7a9ac;}


#nav li.on a{
    color: #000000;
    font-weight:normal
}

.menu-conteneur{
	width:74%;
	background-color: #a7a9ac;
	padding:0 0 0 1%; }
	
.menu-liste {border-bottom: none;}

#nav .menu-liste .menu-entree {margin: 0 0.5em 0 0;}

#nav .add_ressource{
	margin:0 0 0 1%;
	width: 24%;
	background-color: #a7a9ac;
	font-weight:bold;
	font-size:110%;
	position:relative}

.add_content{color:#FFFFFF; cursor: pointer;font-size: 110%;}
.add_ressource  .liste-items{
	display:none;
	margin:0;
	}

.add_ressource:hover .liste-items{
	background-color: #a7a9ac;
	padding:1em;
	display:block;
	position:absolute;
	top:2em;
	left:0px;
	z-index: 200;
	}
.add_ressource .liste-items li{position:relative;}	


/*The principles colors*/

.id_1 h3 a{color:#FF0000}

.id_248 h3 a{color:#91278D}

.id_250 h3 a{color:#2F3293}

.id_251 h3 a{color:#00A851}

.id_252 h3 a{color:#FFDD1A}

.id_253 h3 a{color:#00A8E6}

.id_254 h3 a{color:#8B5E3C }

.id_255 h3 a{color:#F7951D}

/*general*/

.on, .pagination .on {color:#ee1c7b}

em {font-style: normal;text-transform:uppercase}

abbr, acronym {
    border-bottom: none;

}
/*contenu*/

.contenu-principal{ margin-top: 2.5em;width: 95%;}

.rubrique_wiki .contenu-principal, .page_article .contenu-principal{
	padding-top:1em;
	margin: 0 0.4em 0 0;
	background-color: #a7a9ac;
	color: #FFFFFF;
	width:37%;
	float:left
	}
	
.article_enabling .contenu-principal{
	width:100%;
	background-color: #FFFFFF;
	color:#7B7979;
	  margin-top: 2.5em;
    width: 95%;
}
.article_ressource .contenu-principal{
	width:85%;
	background-color: #FFFFFF;
	color: #7b7979;
	padding-top: 0;
	margin-top: 1.4em;
	padding-right:10%
	}	
	
.article_enabling .spip_logos{
	float:right;
	margin: 0 0 1em 1em;
	}

.chapo,.texte{position:relative}

.chapo {
    height: 21em;
    overflow: auto;
    width:92%;
    font-size:1em;
}

.rubrique_wiki .chapo{
	height:31em;
	font-size:0.9em;
	width:92%;
	}

.texte {line-height: normal;}
	

.cartouche, .chapo, .texte, dl, .hyperlien{padding:0 0.65em}


.cartouche .info-publi{
	line-height:1.3em;
	padding-bottom:0.3em;
	border-bottom:#cccbcb 2px solid;
	position:relative;
	}
	
.form_forum	{padding-right:12%}

.published{font-weight:bold}

.page_article .soustitre{font-weight:bold;text-transform:uppercase;font-size:1.2em}


.page_article .right{margin-top:2.5em}

.left,.right{float:left}

.right{width:58.5%;}

.rubrique_wiki .right{margin-top:4em}

.left{width:35.5%;padding-left:1%}

.tiles{
	background:#FFFFFF; 
	overflow: hidden;
	padding-top:1em; 
	width: 100%;}

.tiles img {margin: 0.8em 0.4em;}

.tiles{padding-left:5%}

.page_article .tiles{width:70%; padding-top:0}

.page_article .tiles img {margin: 0 0.2em 0.2em 0.2em;}

.faq{
	background-color: #FFFFFF; 
	color: #7b7979;margin:0;
	}

.article_principe .large{width:200%}

/*tables*/

thead td { 
	padding: 1em 0;
    text-align: center;
    width:20%
    }

td.title {width:40%}

thead td a{
	background-color:#a7a6a6;
	padding:0.25em 2em;
	color:#FFFFFF;
	position:relative;
	margin-bottom:0.5em}

td a:hover,thead td a:active{color:#FFFFFF;}

thead td a.on{background-color:#5e5f61;color:#FFFFFF}

.article_principe td .type, .article_principe td.language{text-transform:uppercase;font-style:normal; font-size:100%}

thead td a img{
	margin-top:0.5em;
	width:auto;
	position:absolute;
	left:0;
	bottom:-0.6em}

tbody tr {margin-bottom:0.5em}

tbody td {
	text-align:center;
	padding:0.7em 0.1em 0.7em 1em;
	margin-left:0.2em}

tr.odd td{background-color:#cdccca}

tr.even td{background-color:#f6f6f6}

tbody td.title {text-align:left}

tbody td.ranking{padding-left:3em}

/*Navigation*/

#navigation dl{padding:0}

.comment .date, .comment .author{float:left}

.comment .author{width:80%}

.comment .date{width:20%;font-weight:bold}

.comment-content{font-style: italic; font-size: 90%}



/*home*/

/*rubrique_home .contenu-principal{margin-top:5em; position:reative;}*/


.rubrique_home .left{
	width:46%;
	background: none repeat scroll 0 0 #A7A9AC;
	margin-top:0;
	padding:0;
	}
.rubrique_home .right{
	width :46%;
	padding:4em 0 0 8%
}

.rubrique_home .contenu-principal{width:100%; padding-top:4em;margin-top:0}
.rubrique_home .tiles{padding-left:0}


.arrow{height: 10px;width:14px;position:absolute;right:0.65em;}

.up{
	background:url('img/arrow-up.png') top right no-repeat;
	top: 0;
	}
.down{
	background:url('img/arrow-down.png') bottom right no-repeat;
	bottom:0;
	}	




/*lists*/

.item .type {
	font-style: italic; 
	font-weight:normal;
	text-transform: capitalize;
	font-size:83%}

.item .title a{font-weight:bold; line-height:normal}



#contenu .shortcuts .liste-items .item {
    margin-bottom: 0.5em;
}

.shortcuts  .liste-items .item {

    background: URL('img/dot.png') center left no-repeat;
    padding-left:1em;
    margin-left:0.8em;
    font-weight:bold;
    font-size:110%
}

.liste-items .item .h3 {
    border-bottom: none;
    margin-bottom: 0.8em;
    padding-bottom: 0;
}

.item .soustitre{
	background-color: #a7a6a6; 
	width:100%; 
	color:#FFFFFF;
	line-height:1.5em;
	color:white;
	text-transform: uppercase;
	padding:0.5em
	}
	
.id_1 .soustitre, .page_article .id_1 {background-color:#FF0000}

.id_248 .soustitre, .page_article .id_248 {background-color:#91278D 
}

.id_250 .soustitre, .page_article .id_250 {background-color:#2F3293}

.id_251 .soustitre, .page_article .id_251{background-color:#00A851}

.id_252 .soustitre, .page_article .id_252 {background-color:#FFDD1A}

.id_253 .soustitre, .page_article .id_253 {background-color:#00A8E6}

.id_254 .soustitre, .page_article .id_254 {background-color:#8B5E3C}

.id_255 .soustitre, .page_article .id_255 {background-color:#F7951D}	
	
.item .introduction {float:left; width: 25%;}

.item .wiki {width:75%; float:left;position:relative;z-index:200}

.item .wiki ul{
	width:95%;
	margin-left:5%;
	position:relative;
	overflow:hidden;
	}


.item .wiki .separateur{
	background: none repeat scroll 0 0 #A7A6A6;
    height: 500px;
    position: absolute;
    top: 3em;
    width: 2px;
    z-index:100}

.item div.first{right:-5%}
.item div.last{left:-10%}

#contenu .item .wiki li {
    clear: none;
    float: left;
    list-style: none outside none;
    margin: 0 2%;
    overflow: visible;
    padding: 0 1%;
    position: relative;
    width: 27%;
}




.item .add_ressource {
    background-color: transparent;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    width: auto;
}	
	
.item .meta-publi {clear:both;}	

.item .meta-publi a{
	background:url('img/read-more-arrow.png') center right no-repeat;
	padding-right:1em;
	}
/*Rating*/	

div.star-rating, div.star-rating a {
    background: url("img/star.png") no-repeat scroll 0 0 transparent;
}

div.rating-cancel, div.star-rating {
    height: 20px;
    width: 21px;
}
div.star-rating-on a {
    background-position: 0 -20px !important;
}

div.rating-cancel a, div.star-rating a {
    width: 21px;
}


/*Forms*/

form h3 {border:none; text-transform:none; font-size:1.1em}

#nav div.formulaire_recherche{
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 4em;
    width: 24%;
    z-index: 100;
    float:none
	}
	

.rubrique_home .formulaire_recherche{width: 34%;}
	

.formulaire_recherche input.submit,.formulaire_recherche label{display:none}

.formulaire_spip input.text {
    border: 2px solid #CCCBCB;
    height: 1.5em;
	width: 72%;
}


.formulaire_recherche input.text {
    background: url("img/search.png") no-repeat scroll right center #FFFFFF;
   	padding: 0.4em 25px 0.3em 0.1em;
   	text-transform:uppercase;
}

#formulaire_changement_lang{margin-top:1.5em}

.page_edition_publique form {width:45%;}

.page_edition_publique .editer_liens_sites, .page_edition_publique .editer_texte{position:absolute;left:50%}

.editer_liens_sites{top :3em;}

.page_edition_publique .editer_texte{
	top:16em; 
	width:50%
	}

form .icons{
	float: left;
    margin: 0.1em 0.3em 0 0;
    text-align: center;
    width: 125px;
    }
    

/*toolbox*/

.article_ressource #outils {
    background-color: transparent;
    border: none;
	position:absolute;
	bottom:0.2em;
	right:0;
    margin: 0 5px;
    opacity: 1;
    padding: 0 5px;
    width: 8.5em;
}

 #contenu div.socialtags {
    float: left;
    clear:none ;
    margin: 0;
    padding: 0;
    vertical-align:middle;
}

 #contenu div.socialtags img {
    height: auto;
    margin-right:0.7em
}


 #contenu  #outils div#recommander, #contenu  #outils div.item {
    float: right;
    padding-top: 0.25em;
}

/*faq*/

.faq dt, .aide{cursor: pointer;}

.faq dd{display: none;}

.faq dt span.open{display:inline;}
.faq dt span.closed{display:none;}

.faq dt.close span.closed{display:inline;}
.faq dt.close span.open{display:none;}

.faq dt span{font-weight:bold}

.row_1 span{color:#8bd024}
.row_2 span{color:#ed0d66}
.row_0 span{color:#446271}

.aide span.help{display:none;}
.aide:hover span.help{
	display:block;
	position:absolute; 
	background:#e5e5e5; 
	padding:1em;top:0;
	right:0;}

a {color:#838181;}
a.spip_out, a.spip_glossaire {color:#ee1c7b;}

a:hover img, a:active img {opacity:0.4;behavior: url(/PIE.htc);}
a:hover, a:active{color:#ee1c7b;}
.social a img, #contenu div.socialtags img, #outils .recommander a img{background:#a7a9ac}
.social a:hover img, #contenu div.socialtags a:hover img,#outils  .recommander a:hover img{background:#ee357c;opacity:1;behavior: url(/PIE.htc); 	}

/*scrollbar styling*/


.jspVerticalBar .jspArrowUp{background: url('img/arrow-up.png') transparent no-repeat;z-index: 1000;}


.rubrique_wiki .jspVerticalBar .jspArrowUp{background: url('img/arrow-up_white.png') transparent no-repeat;z-index: 1000;}

.rubrique_wiki .jspVerticalBar .jspArrowDown{background: url('img/arrow-down_white.png') transparent no-repeat;z-index: 1000;}

.jspVerticalBar .jspArrowDown{background: url('img/arrow-down.png') transparent no-repeat}
.jspVerticalBar, .jspTrack, .jspDrag {
    background:transparent;
}


